@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    min-height: 100vh;
    display: flex;
    width: 100%;
}

.form__input{
    font-family: inherit;
    font-size: 1rem;
    padding: 0.8em 1em;
    outline: none;
    border: none;
    border: 1px solid white;
    border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
}

.form__cta{
    font-family: inherit;
    font-size: 1rem;
    background-color: cadetblue;
    color: white;
    border: none;
    font-weight: 600;
    padding: 0.7em 0;
    border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    cursor: pointer;
    
}

.form{
    background-color: royalblue;
    width: 90%;
    max-width: 400px;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    padding: 3.5em 1.5em;
    margin: auto;
}

.form__container{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}

.form__title{
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: 0.4em;

}

.form__input--message{
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: 0.5em;
}

@media (max-width:450px){
    .form{
        padding: 3.5em 1em;
    }
}
